$polished-pine: #70a288ff;
$candy-pink: #e0777dff;
$ghost-white: #f4f4f9ff;
$eminence: #772d8bff;
$star-command-blue: #2274a5ff;

$columbia-blue: #c9f0ffff;
$flame: #eb6534ff;
$mountain-meadow: #09bc8aff;
$queen-blue: #33658aff;
$black-coffee: #3e2a35ff;
