@import './styles/variables';
@import './styles/fonts';

:host {
  font-family: 'Play', sans-serif;
}

.site-container {
  box-sizing: border-box;
  background-color: $black-coffee;
  color: $polished-pine;
  min-height: 100vh;
  .content {
    padding: 1rem;
  }
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $ghost-white;
}