@import '../../styles/variables';

.pet-card {
  padding: 1rem 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $black-coffee;
  p {
    margin: 0;
  }
  &.grass {
    background-color: $mountain-meadow;
  }
  &.water {
    background-color: $queen-blue;
  }
  &.fire {
    background-color: $flame;
  }
}


.avatar {
  width: 10rem;
  height: 8rem;
  background-size: 190%;
  background-position: center top;
  margin: 1rem;
  &.Torasel {
    background-image: url('/assets/img/grass_by_trxpics.png');
  }
  &.Ignish {
    background-image: url('/assets/img/fire_by_trxpics.png');
  }
  &.Aquidin {
    background-image: url('/assets/img/water_by_trxpics.png');
    background-size: 275%;
  }
}