@import '../../styles/variables';

.pet-card {
  cursor: pointer;
  font-size: larger;
  font-weight: bold;
  padding: 1rem 2rem;
  margin: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: $black-coffee;
  .title {
    font-size: xx-large;
  }
  p {
    margin: 0;
  }
  &.grass {
    background-color: $mountain-meadow;
  }
  &.water {
    background-color: $queen-blue;
  }
  &.fire {
    background-color: $flame;
  }
}


.avatar {
  width: 10rem;
  height: 10rem;
  background-size: 100%;
  margin: 1rem;
}